In [1]:
import graphlab as gl

In [2]:
import os

In [3]:
basedir = 'data'
filelist = os.listdir(basedir)

In [4]:
filelist

['activeSQL.txt',
 'legit.txt',
 'MSSQL.txt',
 'mySQL.txt',
 'passiveSQL.txt',
 'sql.txt',
 'SQL_3.txt']

In [5]:
df_list = []

In [6]:
for file in filelist:
    sf = gl.SFrame.read_csv(os.path.join(basedir,file), sep='|||', header=None)
    sf['type'] = 'legit' if file.split('.')[0] == 'legit' else 'malicious'
    df_list.append(sf)

This non-commercial license of GraphLab Create for academic use is assigned to xyntax@163.com and will expire on July 23, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1501059839.log

Finished parsing file /Users/xy/workspace/ML/sql_injection/data/activeSQL.txt

Parsing completed. Parsed 8 lines in 0.03076 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/xy/workspace/ML/sql_injection/data/activeSQL.txt

Parsing completed. Parsed 8 lines in 0.012341 secs.

Finished parsing file /Users/xy/workspace/ML/sql_injection/data/legit.txt

Parsing completed. Parsed 100 lines in 0.016409 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/xy/workspace/ML/sql_injection/data/legit.txt

Parsing completed. Parsed 1003 lines in 0.017378 secs.

Finished parsing file /Users/xy/workspace/ML/sql_injection/data/MSSQL.txt

Parsing completed. Parsed 36 lines in 0.016147 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/xy/workspace/ML/sql_injection/data/MSSQL.txt

Parsing completed. Parsed 36 lines in 0.01463 secs.

Finished parsing file /Users/xy/workspace/ML/sql_injection/data/mySQL.txt

Parsing completed. Parsed 14 lines in 0.016836 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/xy/workspace/ML/sql_injection/data/mySQL.txt

Parsing completed. Parsed 14 lines in 0.015907 secs.

Finished parsing file /Users/xy/workspace/ML/sql_injection/data/passiveSQL.txt

Parsing completed. Parsed 55 lines in 0.015893 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/xy/workspace/ML/sql_injection/data/passiveSQL.txt

Parsing completed. Parsed 55 lines in 0.015597 secs.

Finished parsing file /Users/xy/workspace/ML/sql_injection/data/sql.txt

Parsing completed. Parsed 24 lines in 0.016092 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/xy/workspace/ML/sql_injection/data/sql.txt

Parsing completed. Parsed 24 lines in 0.01543 secs.

Finished parsing file /Users/xy/workspace/ML/sql_injection/data/SQL_3.txt

Parsing completed. Parsed 100 lines in 0.040715 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/xy/workspace/ML/sql_injection/data/SQL_3.txt

Parsing completed. Parsed 12755 lines in 0.036721 secs.

In [7]:
dataset = df_list[0]

In [8]:
dataset

Columns:
	X1	str
	type	str

Rows: 8

Data:
+-------------------------------+-----------+
|               X1              |    type   |
+-------------------------------+-----------+
| '; exec master..xp_cmdshel... | malicious |
| create user name identifie... | malicious |
| create user name identifie... | malicious |
| exec sp_addlogin 'name' , ... | malicious |
| exec sp_addsrvrolemember '... | malicious |
| insert into mysql.user (us... | malicious |
| grant connect to name; gra... | malicious |
| insert into users(login, p... | malicious |
+-------------------------------+-----------+
[8 rows x 2 columns]

In [9]:
for sf in df_list[1:]:
    dataset = dataset.append(sf)

In [10]:
dataset

Columns:
	X1	str
	type	str

Rows: 13895

Data:
+--------------------------------+-----------+
|               X1               |    type   |
+--------------------------------+-----------+
| '; exec master..xp_cmdshel...  | malicious |
| create user name identifie...  | malicious |
| create user name identifie...  | malicious |
| exec sp_addlogin 'name' , ...  | malicious |
| exec sp_addsrvrolemember '...  | malicious |
| insert into mysql.user (us...  | malicious |
| grant connect to name; gra...  | malicious |
| insert into users(login, p...  | malicious |
| ALTER SYSTEM FLUSH SHARED_POOL |   legit   |
| ALTER TABLE metadatacollec...  |   legit   |
+--------------------------------+-----------+
[13895 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [11]:
dataset.show()

Canvas is accessible via web browser at the URL: http://localhost:63244/index.html
Opening Canvas in default web browser.

In [11]:
# Use the SQLParse module: sqlparse is a non-validating SQL parser module for Python
# https://github.com/andialbrecht/sqlparse
import sqlparse
def parse_it(raw_sql):
    parsed = sqlparse.parse(unicode(raw_sql,'utf-8'))
    return [token._get_repr_name() for parse in parsed for token in parse.tokens if token._get_repr_name() != 'Whitespace']

In [12]:
dataset['parsed_sql'] = dataset['X1'].apply(parse_it)

In [13]:
dataset

Columns:
	X1	str
	type	str
	parsed_sql	list

Rows: 13895

Data:
+--------------------------------+-----------+-------------------------------+
|               X1               |    type   |           parsed_sql          |
+--------------------------------+-----------+-------------------------------+
| '; exec master..xp_cmdshel...  | malicious | [Single, Identifier, Float... |
| create user name identifie...  | malicious | [DDL, Keyword, Identifier,... |
| create user name identifie...  | malicious | [DDL, Keyword, Identifier,... |
| exec sp_addlogin 'name' , ...  | malicious | [Keyword, Identifier, Iden... |
| exec sp_addsrvrolemember '...  | malicious | [Keyword, Identifier, Iden... |
| insert into mysql.user (us...  | malicious | [DML, Keyword, Identifier,... |
| grant connect to name; gra...  | malicious | [Keyword, Keyword, Keyword... |
| insert into users(login, p...  | malicious | [DML, Keyword, Function, K... |
| ALTER SYSTEM FLUSH SHARED_POOL |   legit   | [DDL, Keyword, Keyword, Id... |
| ALTER TABLE metadatacollec...  |   legit   | [DDL, Keyword, Identifier,... |
+--------------------------------+-----------+-------------------------------+
[13895 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [14]:
# Looking at the SQL tokens is 'kinda' interesting but sequences of tokens and transitions
# between tokens seems more meaningful so we're also going to compute sequences by
# computing NGrams for every SQL statement...
def ngrams(lst, N):
    ngrams = []
    for n in xrange(0,N):
        ngrams += zip(*(lst[i:] for i in xrange(n+1)))
    return [str(tuple) for tuple in ngrams]

In [15]:
dataset['sequences'] = dataset['parsed_sql'].apply(lambda x:ngrams(x,3))

In [16]:
dataset

Columns:
	X1	str
	type	str
	parsed_sql	list
	sequences	list

Rows: 13895

Data:
+--------------------------------+-----------+-------------------------------+
|               X1               |    type   |           parsed_sql          |
+--------------------------------+-----------+-------------------------------+
| '; exec master..xp_cmdshel...  | malicious | [Single, Identifier, Float... |
| create user name identifie...  | malicious | [DDL, Keyword, Identifier,... |
| create user name identifie...  | malicious | [DDL, Keyword, Identifier,... |
| exec sp_addlogin 'name' , ...  | malicious | [Keyword, Identifier, Iden... |
| exec sp_addsrvrolemember '...  | malicious | [Keyword, Identifier, Iden... |
| insert into mysql.user (us...  | malicious | [DML, Keyword, Identifier,... |
| grant connect to name; gra...  | malicious | [Keyword, Keyword, Keyword... |
| insert into users(login, p...  | malicious | [DML, Keyword, Function, K... |
| ALTER SYSTEM FLUSH SHARED_POOL |   legit   | [DDL, Keyword, Keyword, Id... |
| ALTER TABLE metadatacollec...  |   legit   | [DDL, Keyword, Identifier,... |
+--------------------------------+-----------+-------------------------------+
+-------------------------------+
|           sequences           |
+-------------------------------+
| [('Single',), ('Identifier... |
| [('DDL',), ('Keyword',), (... |
| [('DDL',), ('Keyword',), (... |
| [('Keyword',), ('Identifie... |
| [('Keyword',), ('Identifie... |
| [('DML',), ('Keyword',), (... |
| [('Keyword',), ('Keyword',... |
| [('DML',), ('Keyword',), (... |
| [('DDL',), ('Keyword',), (... |
| [('DDL',), ('Keyword',), (... |
+-------------------------------+
[13895 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [20]:
# Helper method
def token_expansion(series, types):
    _tokens, _types = zip(*[(token,token_type) for t_list,token_type in zip(series,types) for token in t_list])
    return gl.SArray(_tokens), gl.SArray(_types)

In [17]:
from graphlab.toolkits.feature_engineering import OneHotEncoder

In [23]:
encoder = gl.feature_engineering.create(dataset,
                    OneHotEncoder(features = ['sequences']))

In [27]:
encoder.transform(dataset) #.unpack('encoded_features')

Columns:
	X1	str
	type	str
	parsed_sql	list
	encoded_features	dict

Rows: 13895

Data:
+--------------------------------+-----------+-------------------------------+
|               X1               |    type   |           parsed_sql          |
+--------------------------------+-----------+-------------------------------+
| '; exec master..xp_cmdshel...  | malicious | [Single, Identifier, Float... |
| create user name identifie...  | malicious | [DDL, Keyword, Identifier,... |
| create user name identifie...  | malicious | [DDL, Keyword, Identifier,... |
| exec sp_addlogin 'name' , ...  | malicious | [Keyword, Identifier, Iden... |
| exec sp_addsrvrolemember '...  | malicious | [Keyword, Identifier, Iden... |
| insert into mysql.user (us...  | malicious | [DML, Keyword, Identifier,... |
| grant connect to name; gra...  | malicious | [Keyword, Keyword, Keyword... |
| insert into users(login, p...  | malicious | [DML, Keyword, Function, K... |
| ALTER SYSTEM FLUSH SHARED_POOL |   legit   | [DDL, Keyword, Keyword, Id... |
| ALTER TABLE metadatacollec...  |   legit   | [DDL, Keyword, Identifier,... |
+--------------------------------+-----------+-------------------------------+
+-------------------------------+
|        encoded_features       |
+-------------------------------+
| {609: 1, 610: 1, 611: 1, 3... |
| {608: 1, 610: 1, 611: 1, 5... |
| {608: 1, 611: 1, 518: 1, 5... |
| {608: 1, 611: 1, 590: 1, 1... |
| {608: 1, 611: 1, 590: 1, 1... |
| {608: 1, 611: 1, 485: 1, 5... |
| {608: 1, 473: 1, 611: 1, 4... |
| {608: 1, 544: 1, 580: 1, 5... |
| {608: 1, 611: 1, 557: 1, 5... |
| {608: 1, 579: 1, 518: 1, 5... |
+-------------------------------+
[13895 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [32]:
tfidf

dtype: dict
Rows: 13895
[{}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, ... ]